<h1>Burgers</h1>

<h2> add burger </h2>

<form class="create-form">

	<div class="form-group">
		<label for="burgerName">Burger Name: </label>
		<input type="text" id="burgerName" name="name">
	</div>

	<button type="submit">Add Burger</button>
</form>

<h2> burgers to devour </h2>

<ul>
	{{#each burgers}}
		{{#unless devoured}}
		  {{> burgers/burger-block devour=true}}
		{{/unless}}
	{{/each}}
</ul>

<h2> devoured burgers </h2>

<ul>
	{{#each burgers}}
		{{#if devoured}}
		  {{> burgers/burger-block devour=false}}
		{{/if}}
	{{/each}}
</ul>
